@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Fira+Code:wght@400;500&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@variant dark (&:where(.my-app-dark, .my-app-dark *));
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #3b82f6, #6366f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}